html, body {
    padding: 0;
    margin: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#video, #canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    object-fit: fill;
}

#canvas {
    border: 1em solid red; /* Roter Rahmen um das Canvas für Debugging */
}