*{
    box-sizing: border-box;
}

html, body {
    /*Background color*/
    background-color: #18204d;

    /*Text color*/
    color: #ffffff;
}

#mainContainer{
    position: relative;
    width: 100vw;
    height: 100dvh;

    display: flex;
    flex-direction: column;

}

.container {
}

#textContainer{
}

#videoContainer{
    position: relative;
    height: 100%;
    width: 100%;

    flex-grow: 1;

    align-items: center;
    justify-content: center;
    display: flex;

}


#video, #canvas {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    aspect-ratio: inherit;
    object-fit: contain;
}

#mainContainer{
    border: 0.5em solid #ff0000;
}

#videoContainer{
    border: 0.5em solid blue;
}

/*#canvas {
    border: 0.5em solid green;
}*/
