*{
    box-sizing: border-box;
}

html, body {
    background-color: #18204d;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    margin: 0 0 0 1em;
}

#mainContainer{
    position: relative;
    width: 97vw;
    height: 97dvh;
    display: flex;
    flex-direction: column;
}

#textContainer{
    display: flex;
    align-items: center;
}

#textContainer > *{
    margin: 0 1em 0 1em;
}

button{
    background-color: #ffa300;
    color: #18204d;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
}

#videoContainer{
    position: relative;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;

}

#video, #canvas {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    aspect-ratio: inherit;
    object-fit: contain;
}

#mainContainer{
    border: 0.5em solid #ffa300;
}

#videoContainer{
    border: 0.5em solid blue;
}

/*Slider stuff*/

.sliderContainer {
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0.5em 1em 0.5em 1em;
}

.slider {
    width: 50em;
}

.sliderValue {
    font-weight: bold;
}
